<div class="bg-gray rounded-corner">
  <div
    class="text-secondary flex-container py-2 px-4 heading-bg rounded-corner"
  >
    <span>JavaScipt</span>
    <span class="copy-style"><img src="assets/Images/copy-24.ico" alt="">Copy code</span>
  </div>
  <div class="code-part">
    <code>
      <span class="keyword">const</span> 
      plainText =
      <span class="string">'Hello, World!'</span>; <br>
      <span class="keyword">const</span> 
      encodedText =
      <span class="little-function"> btoa</span>(plainText); <br>
      <span class="fun">console</span>.<span class="little-function">log</span>(encodedText);
    </code>
  </div>
</div>


<br><br><br>

<div #testingPrompt></div>